apiVersion: 1

datasources:
{% for host in groups['prometheus'] %}
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: "http://{{ host }}:{{ prometheus_port }}/prometheus"
    uid: "prometheus_uid"
    editable: true
{% endfor %}
{% for host in groups['agama_client'] %}
  - name: AgamaClientDB
    type: influxdb
    access: proxy
    orgId: 1
    url: "http://{{ host }}:{{ influxdb_port }}"
    database: agama_database
    uid: "influxdb_uid"
    jsonData:
      database: agama_database
      httpMode: GET
{% endfor %}
{% for host in groups['agama_client'] %}
  - name: Telegraf-InfluxDB
    type: influxdb
    access: proxy
    url: "http://{{ host }}:{{ influxdb_port }}"
    database: telegraf
    IsDefault: true
    uid: "influxdb_telegraf"
    jsonData:
      httpMode: POST
{% endfor %}
